.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  cursor: pointer;
}

body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Custom page header */
.header {
  top: 0%;
  width: 100%;
  position: fixed;
  z-index: 999999;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  position: fixed;
  color: #3D3C3C;
  bottom: 0%;
  background-color: rgba(229,229,229, 0.7);
  width: 100%;
  height: 7%;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

.container {
  width: 100% !important;
  max-width: 1170px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.container-list {
  margin-bottom: 12%;
}

.navbar{
  margin-bottom: 0 ! important;
  height: 6em;
  height: 12vh;
}

.navbar-default{
  background-color: rgb(229,229,229) ! important;

}

.navbar-brand{
  margin-left: 8% ! important;
  margin-top: 0.5% ! important;
}

.navbar-nav {
  margin: 1% 2% 0 6% !important;
}

.col-xs-12, .col-xs-6, .col-xs-2 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.rs {
  padding: 1%;
  position: relative;
}

.header-sm {
  right: 0;
  position: absolute;
}

.rs-div {
  margin: 2%;
  float: right;
}

.rs-div-footer {
  margin: 1%;
  float: right;
  margin-right: 2%;
}

.navbar-collapse {
  width: 75% !important;
  margin-top: -1%;
}

.img-home {
  top: 6em;
  top: 12vh;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100vw;
  display: block;
  margin: 0 auto;
  position: absolute;
  height: calc(100vh - 12vh);
}

.img-home-sm {
  display: none;
}

.carousel-div {
  top: 12vh;
  width: 100vw;
  position: absolute;
  height: calc(100vh - 12.2vh);
}

.carousel-inner > .item > img, .carousel-img {
  width: 100vw;
  margin: auto;
  height: calc(100vh - 19vh) !important;
}

.carousel-indicators li {
  border: 1px solid #ccc;
}

.carousel-indicators .active {
  background-color: #ccc;
}

.carousel-indicators {
  bottom: 0%;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
}

.bg-div {
  background-color: #3D3C3C;
  /*height: calc(100vh - 12.2vh);*/
}

.nav > li > a {
  padding: 0 !important;
}

.navbar-default .navbar-nav > li > a {
  font-size: smaller !important;
}

.navbar-nav > li > a {
  padding-top: 20% !important;
  text-align: center;
}

.footer-p {
  text-align: center;
  margin: 1% !important;
}

.social-media {
  top: 28%;
  right: 5%;
  position: absolute;
}

.flag-img-visible {
  display: block;
}

.flag-img-hidden {
  display: none;
}

.btn-info {
  outline: none;
  color: #3D3C3C;
  margin-bottom: 3%;
  border-radius: 0;
  border-color: rgba(229,229,229, 0.7);
  background-color: rgba(229,229,229, 0.7);
}

.btn-info:active, .btn-info:focus, .btn-info:hover {
  outline: none;
  color: #ffffff;
  border-color: rgba(61, 60, 60, 0.7) !important;
  background-color: rgba(61, 60, 60, 0.7) !important;
}

.row{
  margin-left: 1% ! important;
  margin-right: 1% ! important;
}

.projects-page{
  margin-top: 14vh;
}

.projects-page h4{
  font-size: 13px;
  padding-top: 70%;
  margin-bottom: 0;
  text-transform: uppercase;
}

.projects-page span{
  font-size: 11px;
  color: #a7a7a7;
}

.addres {
  font-size: 11px !important;
  color: #ffffff !important;
}

.city {
  font-size: 13px !important;
  color: #ffffff !important;
}

.projects-page a {
  color: #3D3C3C;
  text-decoration: none ! important;
}

.projects-page a:hover {
  color: #777;
  text-decoration: none ! important;
}

.project-container{
  padding: 1% ! important;
  z-index: -1;
}

.project-img{
  width: 100%;
}

.filters {
  margin-top: 0.7%;
}

.filters-container {
  margin-bottom: 3%;
}

.filters-container b {
  color: #3D3C3C;
  text-transform: uppercase;
}

.filters-container span {
  padding-left: 4%;
  padding-right: 4%;
}

.btn {
  padding: 2px 6px 3px;
}

a {
  color: #3D3C3C;
}

.flag-img {
  width: 20px;
  padding-top: 3.5%;
}

.toast-top-right {
  z-index: 9999999 !important;
}

.contact-form {
  margin-top: 3%;
  border-radius: 5px;
  background-color: rgba(61, 60, 60, 0.9);
}

.contact-form h3{
  color: rgb(229, 229, 229);
}

.contact {
  top: 15%;
  margin-top: 0%;
  position: absolute;
}

.maps-iframe {
  margin-top: 12vh;
  width: 100% !important;
  height: calc(100vh - 12vh) !important;
}

.field {
  width: 100%;
  border: #3D3C3C;
  font-size: 12px;
  padding-top: 1%;
  padding-left: 2%;
  margin-bottom: 2%;
  padding-bottom: 1%;
  border-radius: 3px;
}

.field-text {
  width: 100%;
  border: #3D3C3C;
  font-size: 12px;
  padding-top: 1%;
  padding-left: 2%;
  margin-bottom: 2%;
  border-radius: 3px;
  padding-bottom: 40%;
}

.btn-form {
  float: right;
  color: #3D3C3C;
  padding: 2% 8%;
  margin-top: 2.5%;
  margin-bottom: 5.5%;
  background-color: rgba(229, 229, 229, 0.7);
}

.btn-form:hover {
  color: #ffffff;
}

.form-contact {
  margin-top: 4%;
}

.biography {
  margin-top: 0;
  margin-left: 2%;
  margin-bottom: 5%;
}

.biography-img {
  margin-top: 1.5%;
  margin-bottom: 2%;
}

.div-about {
  padding-bottom: 1.5%;
}

.title-biography {
  display: block;
}

.title-about {
  display: none;
}

.img-detail {
  width: 100vw;
  display: block;
  height: calc(100vh - 14vh);
}

.img-detail-title {
  display: none;
}

.detail-title h3 {
  margin-top: 0.5em;
}

.details-content {
  margin-top: 2em;
  margin-bottom: 5%;
}

.details-content .title {
  color: #3D3C3C;
  font-size: 18px;
  font-weight: bold;
  padding-left: 2.5%;
}

.details-content .title2 {
  color: #3D3C3C;
  font-size: 14px;
  font-weight: bold;
  padding-left: 2.5%;
}

.details-content .content {
  color: #777;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.details-content .title2 .content {
  color: #777;
  padding-left: 2.5%;
  font-weight: lighter;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 767px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media (max-width: 767px) {
  .footer {
    height: 11%;
  }

  .footer span {
    margin-top: 1%;
  }

  .footer-p {
    left: 0 !important;
  }

  .rs-div-footer {
    margin: -1%;
    float: none;
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .img-logo {
    max-width: 75%;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #f8f8f8;
    background-color: #f8f8f8;
    float: right;
    z-index: 20;
    margin-top: -1.9%;
  }

  .navbar-nav > li > a {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    text-align: center;
  }

  .navbar-nav {
    margin: 0% !important;
  }

  .navbar-collapse {
    width: 30% !important;
  }

  .flag-img-visible {
    display: none;
  }

  .flag-img-hidden {
    top: 0%;
    display: block;
    position: absolute;
  }

  .btn-info {
    margin-bottom: 1%;
  }

  .contact {
    margin-top: 50%;
  }

  .maps-iframe {
    height: 150vh !important;
  }

  .navbar-toggle {
    margin-top: 3.5rem !important;
    right: 1rem;
  }

  .social-media {
    top: 10%;
  }

  .footer-p {
    padding-top: 2%;
  }

  .biography-img {
    margin-top: 0;
  }

  .title-about {
    padding-bottom: 3%;
    display: block;
  }

  .title-biography {
    display: none;
  }

  .biography {
    margin-bottom: 17%;
  }

  .projects-page{
    margin-bottom: 10%;
  }

  .details-content {
    margin-bottom: 20%;
  }

  .carousel-inner > .item > img, .carousel-img {
    height: calc(100vh - 23vh) !important;
  }
}

@media (max-width: 650px) {
  .img-logo {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .img-detail {
    display: none;
  }

  .img-detail-title {
    width: 100vw;
    display: block;
    height: calc(100vh - 14vh);
  }

  .img-home {
    display: none;
  }

  .img-home-sm {
    top: 6em;
    top: 12vh;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100vw;
    display: block;
    margin: 0 auto;
    position: absolute;
    height: calc(100vh - 12vh);
  }

}
