<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-carousel/angular-carousel.css" />
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />

    <!-- endbuild -->
  </head>
  <body ng-app="casaAnselmiApp" ng-controller="HomeCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header col-xs-12 col-sm-2">
            <a class="navbar-brand col-xs-5 col-sm-12" href="#/">
              <img src="images/logo.png" class="col-xs-12 img-responsive img-logo">
            </a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse col-xs-6" id="js-navbar-collapse">
            <ul class="nav navbar-nav col-xs-11">
              <li class="col-xs-12 col-sm-2 center-block"><a href="#/projects">{{ 'projects' | translate }}</a></li>
              <li class="col-xs-12 col-sm-2 center-block"><a ng-href="#/about">{{ 'biography' | translate }}</a></li>
              <li class="col-xs-12 col-sm-2 center-block"><a ng-href="#/house">{{ 'anselmiHouse' | translate }}</a></li>
              <li class="col-xs-12 col-sm-2 center-block"><a ng-href="#/contact">{{ 'contact' | translate }}</a></li>
              <li class="col-xs-12 col-sm-2 center-block"><a ng-href="#/">{{ 'radio' | translate }}</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-3 social-media">
            <span class="header-sm">
              <a href="http://instagram.com/rafaelanselmivs" target="_blank"><i class="fa fa-instagram fa-lg rs"></i></a>
              <a href="https://www.pinterest.com/rafaelanselmivs" target="_blank"><i class="fa fa-pinterest-square fa-lg rs"></i></a>
              <a href="http://facebook.com/rafaelanselmivs/" target="_blank"><i class="fa fa-facebook-square fa-lg rs"></i></a>
              <a href="http://twitter.com/rafaelanselmivs/" target="_blank"><i class="fa fa-twitter-square fa-lg rs"></i></a>
              <a href="https://www.linkedin.com/profile/view?authType=NAME_SEARCH&locale=es_ES&trk=vsrp_people_res_name&srchid=895824881440542978953&trkInfo=VSRPsearchId%3A895824881440542978953%2CVSRPtargetId%3A54498992%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH&authToken=anV6&srchtotal=6&id=ADEAAAM_lrAB7j0DcO9ldR61Wiz6lFkTucgTaoc&srchindex=5" target="_blank"><i class="fa fa-linkedin-square fa-lg rs"></i></a>
              <a ng-href="#/contact"><i class="fa fa-envelope-square fa-lg rs"></i></a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="container">-->
    <div ng-view=""></div>
    <!--</div>-->

    <div class="footer">
      <div class="container">
        <div class="col-sm-4  xs-hidden flag-img-visible">
          <a ng-click="changeLanguage('en')"><img src="images/United-States.png" class="flag-img"></a>
          <a ng-click="changeLanguage('es')"><img src="images/Venezuela.png" class="flag-img"></a>
        </div>
        <div class="footer-p col-xs-12 col-sm-4">
          <p>&copy;Rafael Anselmi Arquitecto, 2015.</p>
        </div>
        <div class="footer-p col-xs-12 col-sm-4 flag-img-hidden">
          <a ng-click="changeLanguage('en')"><img src="images/United-States.png" class="flag-img"></a>
          <a ng-click="changeLanguage('es')"><img src="images/Venezuela.png" class="flag-img"></a>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=sp"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-carousel/angular-carousel.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
    <script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/projects.js"></script>
    <script src="scripts/controllers/house.js"></script>
    <script src="scripts/controllers/contact.js"></script>
    <script src="scripts/controllers/projectDetail.js"></script>
    <!-- endbuild -->
</body>
</html>
