<div class="row projects-page">
  <div class="col-xs-12" ng-repeat="person in biography">
    <div class="col-sm-4 col-xs-12 biography-img">
      <h3 class="title-about text-center"> {{ person.name }} </h3>
      <img ng-src="{{ person.principalImg }}" class="center-block col-xs-12 img-responsive">
    </div>
    <div class="col-sm-7 col-xs-11 biography">
      <h3 class="title-biography"> {{ person.name }} </h3>
      <div ng-repeat="text in getBiografy(person)" class="div-about">
        <span class="text-justify"> {{ text.text }} </span>
      </div>
    </div>
  </div>
</div>
