<div class="maps-iframe" id="container-map-ms"></div>

  <div class="col-sm-5 col-sm-offset-6 col-xs-10 col-xs-offset-1 contact contact-form">
    <div class="col-xs-10 col-xs-offset-1">
      <h3> {{ 'contact' | translate}} </h3>
      <div class="col-xs-12" ng-repeat="c in contact">
        <p class="city"> {{ c.City }} </p>
        <p class="addres"> {{ c.Adress }} </p>
        <p class="addres"> {{ 'phone' | translate}} <span ng-repeat="p in c.Phone"> {{ p.number }} </span></p>
        <form class="form-contact" ng-submit="sendEmail(email)">
          <input type="text" class="field" placeholder="{{ 'name' | translate }}" data-ng-model="email.name" required><br>
          <input type="email" class="field" placeholder="{{ 'email' | translate }}" data-ng-model="email.email" required><br>
          <input type="text" class="field" placeholder="{{ 'subject' | translate }}" data-ng-model="email.subject" required><br>
          <textarea class="field-text" placeholder="{{ 'message' | translate }}" data-ng-model="email.message" required></textarea><br>
          <button type="submit" class="btn btn-form">{{ 'send' | translate }}</button>
        </form>
      </div>
    </div>
  </div>
