<div class="carousel-div">
  <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
    <uib-slide ng-repeat="slide in houseanselmi" active="slide.active">
      <img ng-src="{{slide.principalImg}}" class="carousel-img">
    </uib-slide>
  </uib-carousel>
</div>
