<div class="row projects-page">

  <div class="col-sm-2 col-xs-12 filters">

    <button type="button" class="btn btn-info col-xs-12" data-toggle="collapse" data-target="#filters1">{{'typology' | translate}}</button>
    <div id="filters1" class="collapse filters-container">
      <a href class="col-xs-6 col-sm-12" ng-repeat="t in typologies | orderBy: getOrder()" ng-click="setFilter(t)">
        <span><b> {{ getTypology(t) }} </b></span>
      </a>
    </div>

    <button type="button" class="btn btn-info col-xs-12" data-toggle="collapse" data-target="#filters2">{{ 'datas' | translate }}</button>
    <div id="filters2" class="collapse filters-container">
      <a href class="col-xs-6 col-sm-12" ng-repeat="range in filters | orderBy: getOrderRange()" ng-click="setFilterData(range)">
        <span><b> {{ getRange(range) }} {{ range.char }} {{ range.endYear }} </b></span>
      </a>
    </div>

    <button type="button" class="btn btn-info col-xs-12" data-toggle="collapse" data-target="#filters3">{{ 'list' | translate }}</button>
    <div id="filters3" class="collapse filters-container">
      <a href class="col-xs-6 col-sm-12" ng-repeat="project in projects | orderBy:'-endYear'">
        <span>{{ project.startYear }} <b> {{ project.name }} </b></span>
      </a>
    </div>
  </div>

  <div class="col-sm-10 col-xs-12">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-xs-6 project-container" ng-repeat="project in projects | filter:filterT.typology | orderBy:'-endYear'" ng-show="checkRange(project)">
        <a href="#/project/{{project.id}}">
          <img class="project-img col-xs-12" ng-src="{{project.principalImg}}">
          <h4>{{ project.name }}</h4>
          <span>{{ project.country }} | {{ project.startYear }}</span>
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-10 col-xs-12 container-list">
  </div>
</div>

