<div class="detail-title">
  <img class="img-detail" ng-src="{{ project.principalImg }}">
  <img class="img-detail-title" ng-src="{{ project.principalImg01 }}">

  <div class="text-center ">
    <h3>{{ project.title }} ({{ project.startYear }})</h3>
  </div>
</div>

<div class="row details-content">
  <div class="col-sm-4 col-xs-12">
    <p class="title">{{ 'technicalDescription' | translate }}</p>
    <p class="content text-justify" ng-repeat="text in project.description">{{ text.text }}</p>

    <div>
      <p class="title2" ng-show="project.country.length > 0">
        {{ 'location' | translate }} <br>
        <span class="content"> {{ project.country }} </span>
      </p>
      <p class="title2" ng-show="project.area.length > 0">
        {{ 'area' | translate }} <br>
        <span class="content"> {{ project.area }} </span>
      </p>
      <p class="title2" ng-show="project.projectArchitecture.length > 0">
        {{ 'project' | translate }} <br>
        <span class="content"> {{ project.projectArchitecture }} </span>
      </p>
      <p class="title2" ng-show="project.collaborators.length > 0">
        {{ 'collaborators' | translate }} <br>
        <span class="content"> {{ project.collaborators }} </span>
      </p>
      <p class="title2" ng-show="project.furniture.length > 0">
        {{ 'furniture' | translate }} <br>
        <span class="content" ng-repeat="item in project.furniture"> {{ item.shop }} <br></span>
        <span class="content" ng-repeat="item in project.furniture"> {{ item.architect }} <br></span>
      </p>
      <p class="title2" ng-show="project.accessories.length > 0">
        {{ 'accessories' | translate }} <br>
        <span class="content" ng-repeat="item in project.accessories"> {{ item.shop }} <br></span>
      </p>
      <p class="title2" ng-show="project.lighting.length > 0">
        {{ 'lighting' | translate }} <br>
        <span class="content" ng-repeat="item in project.lighting"> {{ item.shop }} <br></span>
        <span class="content" ng-repeat="item in project.lighting"> {{ item.architect }} <br></span>
      </p>
      <p class="title2" ng-show="project.floors.length > 0">
        {{ 'floors' | translate }} <br>
        <span class="content" ng-repeat="item in project.floors"> {{ item.shop }} <br></span>
      </p>
      <p class="title2" ng-show="project.steel.length > 0">
        {{ 'steel' | translate }} <br>
        <span class="content" ng-repeat="item in project.steel"> {{ item.shop }} <br></span>
      </p>
      <p class="title2" ng-show="project.metallicStructures.length > 0">
        {{ 'metallicStructures' | translate }} <br>
        <span class="content" ng-repeat="item in project.metallicStructures"> {{ item.shop }} <br></span>
      </p>
      <p class="title2" ng-show="project.bathroom.length > 0">
        {{ 'bathroom' | translate }} <br>
        <span class="content" ng-repeat="item in project.bathroom"> {{ item.shop }} <br></span>
      </p>
      <p class="title2" ng-show="project.bathroomsCoatings.length > 0">
        {{ 'bathroomsCoatings' | translate }} <br>
        <span class="content" ng-repeat="item in project.bathroomsCoatings"> {{ item.shop }} <br></span>
      </p>
      <p class="title2" ng-show="project.doors.length > 0">
        {{ 'doors' | translate }} <br>
        <span class="content" ng-repeat="item in project.doors"> {{ item.shop }} <br></span>
      </p>
      <p class="title2" ng-show="project.artworks.length > 0">
        {{ 'artworks' | translate }} <br>
        <span class="content" ng-repeat="item in project.artworks"> {{ item.shop }} <br></span>
      </p>
    </div>
  </div>

  <div class="col-sm-8 col-xs-12">
    <img ng-repeat="item in project.imgDetails" src="{{ item.image }}" class="col-xs-12">
  </div>
</div>
